*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --pink : rgb(216, 38, 121);
    --blue : rgb(0, 175, 240);
    --yellow : rgb(253, 227, 66);
    --gray : rgb(137, 132, 132);
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

    nav
    {
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 2;
        background: transparent;
        display: flex;
        align-items: center;
    }
    .scrolled {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)) !important;
        backdrop-filter: blur(8px);
        transition: ease-in-out 200ms;
      }
    #nav-right ul li
    {
        margin: 0;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: candara !important;
    }
    #nav-right ul
    {
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        padding: 10px;
        color: var(--pink);
    }
    #nav-right ul li a
    {
        font-family: candara;
        font-size: 0.75rem;
        color: var(--pink);
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;
        letter-spacing: 2px;
    }
    #nav-right ul li{
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    #nav-right ul li ul {
        width: 70%;
        display: flex;
        flex-direction: column;
        background: var(--blue);
        display: none;
    }
    #nav-right ul li ul li a{
        color: white ;
        text-align: center;
    }
    .active {
        background-color: var(--yellow);
        color: var(--blue);
        padding: 10px;
        border-radius: 10px 10px 0 0;
      }
    .dropdown-container {
        display: none;
        padding: 10px;
        border-radius: 10px;
      }
    li{
        position: relative;
    }
    .qoute{
        display: none;
    }
    .burger
    {
        display: block;
        padding: 10px 20px 10px 20px ;
    }
    .burger div
    {
        width: 25px;
        height: 3px;
        background-color: var(--yellow);
        margin: 5px;
        transition: all 0.3s ease;
        border-radius: 58em;
        box-shadow: 0 0 10px rgba(77, 77, 77, 0.7);
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100vh !important;
        top: 0;
        background: url(images/burger\ bg.png);
        background-size: cover;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
        
    }
    .nav-links::before{
        content: "";
        position: absolute;
        top: 2%;
        width: 80%;
        height: 95vh;
        border: 1px solid gray;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(8px);
        z-index: -1;
    }
    .nav-links div a
    {
        opacity: 1;
        font-weight: 900;
        text-shadow: rgba(77, 77, 77, 0.7);
        color: var(--pink) !important;
    }
    .logo
    {
        display: block;
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }
    .logo img{
        width: 80px;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
    }
    .logo span{
        font-size: 20px;
        font-family: 'Dancing Script', cursive;
        cursor: pointer;
        animation: zoom-in-out 3s infinite;
    }
    .nav-active
    {
        transform: translateX(0%);
    }
    @keyframes navLinkFade
    {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: var(--pink);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: var(--pink);

    }

    #top{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(images/front.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    #top-wrapper{
        position: inherit;
        height: 100vh;
        background: linear-gradient(360deg, rgb(216, 38, 121, 93%), rgba(137, 132, 132, 93.75%), rgba(0, 0, 0, 0), rgba(0, 0, 0));
    }

    #front-content{
        position: absolute;
        top: 40vh;
        /* left: 50vh; */
        width: 100%;
        height: 55vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        background-color: transparent;
        font-size: 10px;
        text-align: center;
    }
    #latest h1{
        font-size: 30px;
        text-align: center;
        font-family: 'Monoton', cursive;
    }
    #front-content button{
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        border: none;
        background: var(--yellow);
        color: var(--pink);
        align-items: center;
    }
    .animate{
        animation: zoom-in-out 1s ease-in-out;
        animation-iteration-count: infinite;
    }
    @keyframes zoom-in-out{
        0%{transform: scale(1.1) translateY(-5px);}
        50%{transform: scale(1) translateY(-0px);}
        100%{transform: scale(1.1) translateY(-5px);}
    }
    #facts{
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto-fill, auto);
        background: url(images/dyn\ bg.png);
        background-position: center;
        background-size: cover;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        backdrop-filter: blur(8px);
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
      }
      .container h3{
          font-size: 16px;
          text-transform: uppercase;
      }
      .container a{
          font-size: 25px;
          text-decoration: none;
          color: var(--pink);
      }
      .container a:hover{
        cursor: pointer;
        text-decoration: underline;
    }

    #facts > div{
        width: 100%;
        display: grid;
        padding: 20px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(auto-fill, auto);
        grid-gap: 50px;
    }
    #facts h1 {
        font-family: candara;
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
    }

    #explore{
        width: 100%;
        height: 60vh;
        display: grid;
        padding: 50px 30px;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        grid-gap: 30px;
        background: linear-gradient(360deg, rgb(253, 227, 66),rgb(0, 175, 240));
        color: whitesmoke;
    }
    #explore h1 {
        font-family: candara;
        padding: 10px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.7);
    }
    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .btns button{
        font-family: candara;
        width: 270px;
        height: 60px;
        border: none;
        padding: 10px;
        background-color: whitesmoke;
        color: var(--blue);
        font-size: 22px;
        text-decoration: underline;
        text-transform: uppercase;
        text-decoration-color: var(--pink);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .btns button:hover{
        color: var(--pink);
        background-color: var(--yellow);
        text-decoration-color: var(--yellow);
        cursor: pointer;
        text-shadow: rgba(0, 0, 0, 0.7);
    }
    #events-bg{
        height: auto;
        background: url(images/IMG_7631.JPG);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow-x: hidden;
    }
    #events{
        width: 90%;
        height: auto;
        background-color: rgb(245, 245, 245, 0.9);
        backdrop-filter: blur(8px);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% repeat(auto-fill, auto);
    }
    #events > h1{
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background: -webkit-linear-gradient(var(--pink), var(--gray));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #events > h1 span{
        text-decoration: underline;
        text-decoration-color: var(--yellow);
    }
    .calender{
        display: grid;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(auto-fill, auto);
        padding: 20px;
        grid-gap: 30px;
    }
    .calender a {
        color: var(--pink);
        text-decoration-color: var(--blue);
        text-decoration-thickness: 3px;
    }
    .featured-events{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom: 1px solid var(--gray);
        line-height: 20px;
    }
    .featured-events:first-child{
        border-top: 1px solid var(--gray);
    }
    .dates{
        color: var(--blue);
    }
    .time{
        color: var(--gray);
    }

    #vision-mission{
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .b-logo{
        max-width: 100%;
        height: auto;
    }
    .vision, .mission{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    #vision-mission button{
        width: 200px;
        height: 40px;
        background-color: white;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 900;
        transition: ease-in-out 0.3s;
        cursor: pointer;
    }
    #Btn1{
        border: 2px solid var(--blue);
        color: var(--blue);
    }
    #Btn2{
        border: 2px solid var(--pink);
        color: var(--pink);
    }
    #Btn1:hover{
        color: var(--yellow);
        background-color: var(--blue);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    #Btn2:hover{
        color: var(--yellow);
        background-color: var(--pink);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        backdrop-filter: blur(8px);
        transition: ease-in-out 1s;
    }
    
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.5s;
        animation-name: animatetop;
        animation-duration: 0.5s;
    }
    
    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {bottom:-300px; transform: scale(0); opacity:0} 
        to {bottom:0; transform: scale(1); opacity:1}
    }
    
    @keyframes animatetop {
        from {bottom:-300px; transform: scale(0); opacity:0}
        to {bottom:0; transform: scale(1); opacity:1}
    }
    
    /* The Close Button */
    .close1, .close2 {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close1:hover,
    .close1:focus, .close2:hover, .close2:focus {
        color: rgb(235, 226, 226);
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-header {
        padding: 2px 16px;
        color: white;
    }
    .modal-header-vision{
        background-color: var(--blue);
    }
    .modal-header-mission{
        background-color: var(--pink);
    }
    .modal-body {padding: 2px 16px;}
    
    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }
    .modal-footer-vision{
        background-color: var(--blue);
    }
    .modal-footer-mission{
        background-color: var(--pink);
    }

    #footer{
        display: flex;
        flex-direction: column;
        padding: 50px 50px 30px 50px;
    }
    .footer-top, .footer-bottom{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: var(--gray);
        border-top: 1px solid rgba(137, 132, 132, 0.3);
    }
    .footer-top{
        flex-direction: column;
        height: 50vh;
        padding: 10px ;
    }
    .footer-top-right{
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .find-us{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .find-us h1{
        font-size: 15px;
        text-align: center;
    }
    .find-us > div{
        text-align: center;
    }
    .find-us > div a{
        font-size: 20px;
        color: var(--gray);
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }
    .fa-facebook-f:hover{
        color: #3B5998;
    }
    .fa-instagram:hover{
        color: #405DE6;
    }
    .links h1, .contact-us h1{
        font-size: 14px;
        text-transform: uppercase;
    }
    .links ul li, a , .contact-us ul li, a{
        text-decoration: none;
        list-style: none;
        color: var(--gray);
        font-size: 12px;
        line-height: 2;
    }
    .links ul li, a:hover, .contact-us ul li, a:hover{
        color: var(--pink);
        font-weight: bold;
    }
    .footer-bottom{
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    @media (min-width : 1126px){
        .burger, #burger-bg{
            display: none;
        }
        .logo
        {
            padding: 5px;
            justify-content: space-around;
            font-size: 40px;
        }
        .logo span{
            font-size: 40px;
        }
        nav{
            display: grid;
            grid-template-columns: 30% 70%;
            /* padding: 0 20px 0 20px; */
        }
        #nav-right ul li ul {
            background: var(--blue);
            visibility: hidden;
            opacity: 0;
            min-width: 11.5rem;
            border-radius: 0 10px 10px 10px ;
            position: absolute;
            transition: all 1s ease-in-out;
            margin-top: 1rem;
            top: 15px;
            left: 0;
            display: none;
            float: none;
            box-shadow: rgba(0, 0, 0, 0.7);
        }
        
        #nav-right ul li a {
            clear: both;
            width: 100%;
        
        }
        #nav-right ul li:hover > ul,
        #nav-right ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        }
        li {
            transition: all 0.5s ease-in-out;
            cursor: pointer;
        }
        #nav-right ul{
            justify-content: space-around;
        }
        #nav-right ul li {
            padding: 5px;
        }
        #nav-right ul li a{
            color: white;
        }
        #nav-right ul li ul li a{
            
            padding: 10px;
            border-radius: 10px;
        }
        #nav-right ul li a:hover{
            color: var(--pink);
            font-weight: bold;
        }
        #nav-right ul li ul li a:hover{
            color: var(--pink);
            font-weight: bold;
            text-decoration: underline;
            text-decoration-color: var(--pink);
            background-color: var(--yellow);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.7);
        }
        #nav-right{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
        }
        .qoute{
            width: 100%;
            font-family: candara;
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
            /* padding-right: 79%; */
            color: var(--yellow);
        }
        .contact a{
            font-size: 14px;
            color: white;
            text-decoration: none;
            transition: 0.2s ease-in-out;
            text-transform :uppercase;
        }
        .contact a:hover{
            color: var(--pink);
            font-weight: bold;
            text-decoration: underline;
            text-decoration-color: var(--yellow);
        }
        .btn-shine{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 12px 48px;
            color: #ffffff;
            background: linear-gradient(to right, var(--pink) 5%, var(--yellow) 10%, var(--blue) 20%, var(--yellow) 5%);
            background-position: 0;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 7s infinite linear;
            animation-fill-mode: forwards;
            -webkit-text-size-adjust: none;
            font-weight: 600;
            font-size: 50px;
            text-decoration: none;
            white-space: nowrap}
              
          @keyframes shine
            {
              0%{
              background-position: 0}
            /* 60%{
              background-position: 600px} */
            100%{
              background-position: 1300px}
            }

        #latest h1{
            font-size: 16px;
            letter-spacing: 10px;
            text-align: center;

        }
        #front-content button{
            width: 250px;
            height: 60px;
            font-size: 25px;
            text-align: center;
            align-self: center;
        }
        #front-content button:hover{
            background-color: var(--blue);
            transition: ease 0.6s;
            color: whitesmoke;
            font-weight: bold;
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            transform: scale(1.2);
            transition: ease-in-out 0.6s;
        }
        #facts{
            padding: 30px;
            display: grid;
            grid-template-columns: 5% 95%;
            grid-template-rows: 70vh;
        }
        #facts > div{
            width: 100%;
            display: grid;
            padding: 30px;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(1, auto);
            grid-gap: 50px;
        }
        #facts h1 {
            font-size: 24px;
            text-transform: uppercase;
            writing-mode: vertical-lr;
            text-orientation: upright;
            background-color: white;
            border-right: 1px solid black;
            text-align: start;
        }
        #explore{
            grid-gap: 10px;
        }
        #explore h1 {
            font-size: 50px;
        }
        .btns{
            flex-direction: row;
        }
        .btns button{
            width: 500px;
            height: 70px;
            font-size: 35px;
        }
        #events-bg{
            height: 100vh;
        }
        #events{
            width: 90%;
            height: 90%;
            grid-template-columns: 30% 70%;
            grid-template-rows: 100%;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
        }
        #events > h1{
            font-size: 80px;
            padding: 50px 30px;
            text-shadow: 0 4px 8px var(--pink);
            cursor: pointer;
        }
        .calender{
            grid-template-columns: repeat(3,auto);
            grid-template-rows: repeat(2, auto);
            padding: 50px 30px;
        }
        .calender a:hover {
            transition: ease-in-out 300ms;
            color: var(--blue);
            font-weight: 900;
        }
        .featured-events{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-bottom: 1px solid var(--gray);
            line-height: 20px;
        }
        .featured-events:first-child{
            border-top: none;
        }
        .border-right{
            border-right: 1px solid var(--gray);
        }
        #vision-mission{
            flex-direction: row;
        }
        .b-logo{
            width: 400px;
            height: auto;
            align-self: center;
            
        }
        .footer-top{
            flex-direction: row;
        }
        .footer-top-right{
            width: 30%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: left;
        }
        .contact-us, .links{
            text-align: center;
        }
        .contact-us h1, .find-us h1, .links h1{
            padding-bottom: 10px;
        }
    }
